{{#extend "stylesheets"}}
    <style>
        .h20 {
            height: 20px;
        }
    </style>
{{/extend}}
<div class="page-header">
    <h1>{{title}}</h1>
</div>

{{#if username}}
    <div class="alert alert-success" role="alert">
        用户名：<span>{{username}}</span> <a href="/logout">退出登录</a>
    </div>

    <!--<div class="list-group">
        <a href="/users" class="list-group-item">用户列表</a>
        <a href="#" class="list-group-item">文件上传</a>
    </div>-->
{{else}}
    <div class="alert alert-warning" role="alert">
        请您 <a href="/login">登录</a>
    </div>
{{/if}}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">首页</a></li>
    <li role="presentation"><a href="/topics">文章列表</a></li>
    <li role="presentation" class="active"><a href="/users">用户列表</a></li>
</ul>

<div class="h20"></div>

<div id="comments">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>用户邮箱</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#each res}}
            <tr>
                <td>用户详情： {{email}} </td>
                <td>
                    <a href="/users/getUser/{{userId}}" class="btn btn-primary btn-xs">详情</a>
                    <a href="/users/deleteUserById/{{userId}}" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{#extend "scripts"}}
    <script>


    </script>
{{/extend}}
